*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    height: 85px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 3px;
}
h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: 400;
}
.Products-header{
    padding: 25px;
}
h2{
    font-size: 35px;
    text-align: center;
}
.products-container{
    width: 95%;
    display: flex;
    margin: 0 auto;
}
.product-sort{
    margin-bottom: 25px;
}
.product-list-display{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
#productCategory > ul > li{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.sideBar{
    width: 12%;
    margin-right: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
ul{
    list-style-type: none;
    text-align: center;
}
li:hover{
    background-color: skyblue;
}
.card{
    width: 21%;
    margin: 0px 20px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    border-radius: 10px;
}
.card:hover{
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card > .img-container{
    width: 100%;
}
.card > .img-container > img{
    width: 100%;
}
.card > .card-details{
    padding: 20px;
}
.card > .card-details > p{
    margin-bottom: 10px;
}
.card-brand{
    font-size: 30px;
}
.card-title{
    font-size: 20px;
}
.card-price{
    font-size: 20px;
    font-weight: 700;
}
.details{
    font-size: 17px;
    background-color: aquamarine;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.details:hover{
    background-color: lightgreen;
    color: black;
}

.images{
    display: flex;
}
section{
    width: 50%;
    margin: 0 auto;
}
/* product page */
.product-info > .images > .img-container{
    width: 100px;
    height: 100px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid black;
}
.product-info > .images > .img-container > img{
    width: 100%;
    height: 100%;
}

.poster-img{
    width: 60%;
    margin: 0 auto;
}
.poster-img > img{
    width: 100%;
    height: 100%;
}
.product-notfound{
    display: none;
    text-align: center;
}
.product-notfound > h2{
    margin-bottom: 20px;
}
.product-notfound > a{
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}