*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#products{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 3px;
}
#searchProduct{
    font-size: 17px;
}
/* header navi part */
header > #headerNavi{
     position: relative;
}
header > #headerNavi > a{
    text-decoration: none;
    color: black;
}
header > #headerNavi > a > img{
    width: 30px;
    height: 30px;
}
header > #headerNavi > a > span{
    position: absolute;
    top: -7px;
    font-size: 18px;
}
h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: 400;
}
h1 > a{
    text-decoration: none;
    color: black;
}
.Products-header{
    padding: 15px;
}
h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.products-container{
    width: 98%;
    display: flex;
}
.products-list-container{
    width: 85%;
}
.product-sort{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
#searchField{
    padding:3px 8px;
    outline: none;
    border-radius: 3px;
}
#inputDiv > button{
    background-color: #009999;
    color: white;
    padding: 6px;
    margin-right: 19px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.product-list-display{
    display: flex;
    flex-wrap: wrap;
}
#productCategory > ul > li{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
.sideBar{
    width: 14%;
    height: 75vh;
    overflow: auto;
    margin-right: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sideBar::-webkit-scrollbar {
  width: 8px;
}
/* Color of the track (the background) */
.sideBar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; /* Optional: rounded corners */
}
/* Color/style of the thumb (the draggable part) */
.sideBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; /* Optional: rounded corners */
}
/* Change the thumb color on hover */
.sideBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sort-buttons{
    background-color: #009999;
    color: white;
    padding: 6px;
    margin-right: 19px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.sort-buttons:hover{
    background-color:#00e6e6;
}
ul{
    list-style-type: none;
    text-align: center;
}
li:hover{
    background-color: skyblue;
}
.card{
    width: 23%;
    margin: 0px 20px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    border-radius: 10px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card > .img-container{
    width: 100%;
}
.card > .img-container > img{
    width: 100%;
}
.card > .card-details{
    padding: 20px;
}
.card > .card-details > p{
    margin-bottom: 10px;
}
.card-brand{
    font-size: 30px;
}
.card-title{
    font-size: 20px;
}
.card-price{
    font-size: 20px;
    font-weight: 700;
}
.details{
    font-size: 17px;
    background-color: aquamarine;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.details:hover{
    background-color: lightgreen;
    color: black;
}

#myselect{
    display: none;
}
/* product page */
#productDisplay{
    width: 80%;
    display: flex;
    margin: 30px auto 0px;
}
.product-info{
    width: 60%;
}
.product-info > .images > .img-container{
    width: 100px;
    height: 100px;
    margin-right: 15px;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid skyblue;
}
.product-info > .images > .img-container > img{
    width: 100%;
    height: 100%;
}
.poster-img{
    width: 40%;
    margin: 0 auto;
}
.poster-img > img{
    width: 100%;
    height: 100%;
}
.product-brand{
    font-size: 27px;
    margin-bottom: 5px;
}
.product-title{
    font-size: 20px;
    margin-bottom: 5px;
}
.product-tags{
    font-size: 18px;
    margin-bottom: 5px;
}
.product-ratings{
    margin-bottom: 5px;
}
.images{
    display: flex;
    margin-bottom: 15px;
}
.product-description{
    font-size: 17px;
    margin-bottom: 5px;
}
#dimensions{
    margin: 5px 0px;
}
#stockNo{
    margin-bottom: 5px;
}
#returnPol{
    margin-bottom: 5px;
}
#shipping{
    margin-bottom: 5px;
}
#warranty{
    margin-bottom: 10px;
}
#addCart{
    font-size: 17px;
    background-color: aquamarine;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.product-notfound{
    display: none;
    text-align: center;
}
.product-notfound > h2{
    margin-bottom: 20px;
}
.product-notfound > a{
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.loading {
  background: #f0f0f0;
  height: 20px;
  border-radius: 4px;
}
.img-con-loader{
    background: #f0f0f0;
    height: 150px;
    border-radius: 4px;
    padding: 10px;
}
.loader {
  width: 100px;
  height: 100px;
  border: 6px solid #e0e0e0;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

/* cart page css */
#cartProducts{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
#cartListProductsContainer{
    width: 60%;
}
#cartFinalAmount{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-payment{
    width: 80%;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cart-payment > .text{
    font-size: 26px;
    margin-bottom: 10px;
}
.cart-payment > .amount{
    font-size: 20px;
    margin-bottom: 10px;
}
.cart-payment > .amount > span{
    color:aqua
}
.each-cart-product{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    margin-bottom: 30px;
}
.each-cart-product > .delete-con{
    text-align: right;  
}
.each-cart-product > .delete-con > button{
    padding: 8px 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.each-cart-product > .delete-con > button:hover{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image-details-container{
    display: flex;
    align-items: center;
}
.cart-image-container{
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.cart-image-container > img{
    width: 100%;
    height: 100%;
}
.buttonsContainer{
    display: flex;
}
#placeOrder{
    font-size: 17px;
    background-color: aquamarine;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.increment{
    padding: 1px 2px;
    cursor: pointer;
}
.decrement{
    padding: 1px 2px;
    cursor: pointer;
}
.display-count{
    margin: 0px 5px;
}
#orderConfirm{
    width: 500px;
    height: 500px;
    margin: 30px auto 0px;
}
#orderConfirm > img{
    width: 100%;
    height: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:435px){
    h2{
        margin-bottom: 0px;
    }
    .products-container{
        width: 90%;
        margin: 0 auto;
    }
    .products-list-container{
        width: 100%;
    }
    .product-list-display{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .product-sort{
        flex-direction: column;
    }
    .product-sort > div{
        margin-bottom: 12px;
    }
    #sortDiv > #myselect{
        width: 90%;
        margin-bottom: 8px;
    }
    .sideBar{
        display: none;
    }
    #myselect{
        display: block;
    }
    /* page */
    #productDisplay{
        flex-direction: column;
         margin: 30px auto 20px;
    }
    .poster-img{
        width: 90%;
    }
    .product-info{
        width: 100%;
    }
    /* cart */
    #cartProducts{
        flex-direction: column;
    }
    #cartListProductsContainer {
        width: 100%;
    }
    #cartFinalAmount{
        width: 100%;
    }
    .cart-payment{
        width: 100%;
    }
    .each-cart-product{
        width: 100%;
    }
    #orderConfirm{
        width: 300px;
        height: 300px;
    }
}